{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <!-- <body class="{% block body_class %}{% endblock %}"> -->
    <body class="" style="">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        <!-- Wrapper -->
        <div id="wrapper" class="fade-in">

            <!-- Intro -->
                <div id="intro">
                    <h1>This is<br>
                    Massively</h1>
                    <p>A justo, porta faucibus morbi non nibh arcu accumsan interdum at aenean col Eleifend<br>
                    sed accumsan cep cras augue dui Eleifend Aliquam pharetra.</p>
                    <ul class="actions">
                        <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
                    </ul>
                </div>

            <!-- Header -->
                <header id="header">
                    <a href="javascript:window._pxOpen(&#39;index.html&#39;);" class="logo">Massively</a>
                </header>

            <!-- Nav -->
                <nav id="nav">
                    
                    
                <ul class="links">
                        <li class="active"><a href="javascript:window._pxOpen(&#39;index.html&#39;);">This is Massively</a></li>
                        <li><a href="javascript:window._pxOpen(&#39;generic.html&#39;);">Generic Page</a></li>
                        <li><a href="javascript:window._pxOpen(&#39;elements.html&#39;);">Elements Reference</a></li>
                    </ul><ul class="icons">
                        <li><a class="icon fa-twitter" style="cursor: pointer;"><span class="label">Twitter</span></a></li>
                        <li><a class="icon fa-facebook" style="cursor: pointer;"><span class="label">Facebook</span></a></li>
                        <li><a class="icon fa-instagram" style="cursor: pointer;"><span class="label">Instagram</span></a></li>
                        <li><a class="icon fa-github" style="cursor: pointer;"><span class="label">GitHub</span></a></li>
                    </ul></nav>

            <!-- Main -->
                <div id="main">

                    <!-- Featured Post -->
                        <article class="post featured">
                            <header class="major">
                                <span class="date">April 25, 2017</span>
                                <h2><a style="cursor: pointer;">Sit ante ut mus<br>
                                commodo accumsan</a></h2>
                                <p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br>
                                facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br>
                                amet nullam sed etiam veroeros.</p>
                            </header>
                            <a class="image main" style="cursor: pointer;"><img src="{% static 'img/pic01.jpg' %}" alt=""></a>
                            <ul class="actions special">
                                <li><a class="button large" style="cursor: pointer;">Full Story</a></li>
                            </ul>
                        </article>

                    <!-- Posts -->
                        <section class="posts">
                            <article>
                                <header>
                                    <span class="date">April 24, 2017</span>
                                    <h2><a style="cursor: pointer;">Sed magna<br>
                                    ipsum faucibus</a></h2>
                                </header>
                                <a class="image fit" style="cursor: pointer;"><img src="{% static 'img/pic02.jpg' %}" alt=""></a>
                                <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
                                <ul class="actions special">
                                    <li><a class="button" style="cursor: pointer;">Full Story</a></li>
                                </ul>
                            </article>
                            <article>
                                <header>
                                    <span class="date">April 22, 2017</span>
                                    <h2><a style="cursor: pointer;">Primis eget<br>
                                    imperdiet lorem</a></h2>
                                </header>
                                <a class="image fit" style="cursor: pointer;"><img src="{% static 'img/pic03.jpg' %}" alt=""></a>
                                <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
                                <ul class="actions special">
                                    <li><a class="button" style="cursor: pointer;">Full Story</a></li>
                                </ul>
                            </article>
                            <article>
                                <header>
                                    <span class="date">April 18, 2017</span>
                                    <h2><a style="cursor: pointer;">Ante mattis<br>
                                    interdum dolor</a></h2>
                                </header>
                                <a class="image fit" style="cursor: pointer;"><img src="{% static 'img/pic04.jpg' %}" alt=""></a>
                                <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
                                <ul class="actions special">
                                    <li><a class="button" style="cursor: pointer;">Full Story</a></li>
                                </ul>
                            </article>
                            <article>
                                <header>
                                    <span class="date">April 14, 2017</span>
                                    <h2><a style="cursor: pointer;">Tempus sed<br>
                                    nulla imperdiet</a></h2>
                                </header>
                                <a class="image fit" style="cursor: pointer;"><img src="{% static 'img/pic05.jpg' %}" alt=""></a>
                                <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
                                <ul class="actions special">
                                    <li><a class="button" style="cursor: pointer;">Full Story</a></li>
                                </ul>
                            </article>
                            <article>
                                <header>
                                    <span class="date">April 11, 2017</span>
                                    <h2><a style="cursor: pointer;">Odio magna<br>
                                    sed consectetur</a></h2>
                                </header>
                                <a class="image fit" style="cursor: pointer;"><img src="{% static 'img/pic06.jpg' %}" alt=""></a>
                                <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
                                <ul class="actions special">
                                    <li><a class="button" style="cursor: pointer;">Full Story</a></li>
                                </ul>
                            </article>
                            <article>
                                <header>
                                    <span class="date">April 7, 2017</span>
                                    <h2><a style="cursor: pointer;">Augue lorem<br>
                                    primis vestibulum</a></h2>
                                </header>
                                <a class="image fit" style="cursor: pointer;"><img src="{% static 'img/pic07.jpg' %}" alt=""></a>
                                <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
                                <ul class="actions special">
                                    <li><a class="button" style="cursor: pointer;">Full Story</a></li>
                                </ul>
                            </article>
                        </section>

                    <!-- Footer -->
                        <footer>
                            <div class="pagination">
                                <!--<a href="#" class="previous">Prev</a>-->
                                <a class="page active" style="cursor: pointer;">1</a>
                                <a class="page" style="cursor: pointer;">2</a>
                                <a class="page" style="cursor: pointer;">3</a>
                                <span class="extra">…</span>
                                <a class="page" style="cursor: pointer;">8</a>
                                <a class="page" style="cursor: pointer;">9</a>
                                <a class="page" style="cursor: pointer;">10</a>
                                <a class="next" style="cursor: pointer;">Next</a>
                            </div>
                        </footer>

                </div>

            <!-- Footer -->
                <footer id="footer">
                    <section>
                        <form method="post" action="#">
                            <div class="fields">
                                <div class="field">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name">
                                </div>
                                <div class="field">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email">
                                </div>
                                <div class="field">
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message" rows="3"></textarea>
                                </div>
                            </div>
                            <ul class="actions">
                                <li><input type="submit" value="Send Message"></li>
                            </ul>
                        </form>
                    </section>
                    <section class="split contact">
                        <section class="alt">
                            <h3>Address</h3>
                            <p>1234 Somewhere Road #87257<br>
                            Nashville, TN 00000-0000</p>
                        </section>
                        <section>
                            <h3>Phone</h3>
                            <p><a style="cursor: pointer;">(000) 000-0000</a></p>
                        </section>
                        <section>
                            <h3>Email</h3>
                            <p><a style="cursor: pointer;">info@untitled.tld</a></p>
                        </section>
                        <section>
                            <h3>Social</h3>
                            <ul class="icons alt">
                                <li><a class="icon alt fa-twitter" style="cursor: pointer;"><span class="label">Twitter</span></a></li>
                                <li><a class="icon alt fa-facebook" style="cursor: pointer;"><span class="label">Facebook</span></a></li>
                                <li><a class="icon alt fa-instagram" style="cursor: pointer;"><span class="label">Instagram</span></a></li>
                                <li><a class="icon alt fa-github" style="cursor: pointer;"><span class="label">GitHub</span></a></li>
                            </ul>
                        </section>
                    </section>
                </footer>

            <!-- Copyright -->
                <div id="copyright">
                    <ul><li>© Untitled</li></ul>
                </div>

        <div class="bg fixed" style="transform: none;"></div><a href="#navPanel" id="navPanelToggle">Menu</a></div>

        
        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
            <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery.scrollex.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery.scrolly.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/browser.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/breakpoints.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
        {% endblock %}
        
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <div id="navPanel"><nav></nav><a href="" class="close" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></a></div>

    </body>
</html>
